.title h1{
    text-align: center;
    margin-top: 5vh;
}

.title p{
    max-width: 60%;
    margin: auto;
    text-align: center;
    line-height: 2rem;
}

.floors-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.rooms {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--background-hover-colour);
}

.rooms a{
    padding: 1.5rem;
    text-decoration: none;
    color: var(--font-colour);
    font-size: 1rem;
} 

.rooms a:hover{
    color: var(--font-hover-colour);
    text-decoration: underline;
}
