{% extends "base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='CSS/home.css') }}">{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="title">
    <h1>1984 - Meeting Room Tracker</h1>
    <p>Scan the QR code in the room to report an issue in a meeting room, or find the meeting room in one of the offices listed below.</p>
</div>
<div class="offices">
    {% for office in offices %}
        <a href="/offices/{{office.id}}">{{ office.name }}</a>
    {% endfor %}
</div>
{% endblock %}
