{% extends "base.html" %}
{% block head %}<link rel="stylesheet" href="{{ url_for('static', filename='CSS/meetingroom.css') }}">{% endblock %}
{% block title %}{{meeting_room.name}}{% endblock %}
{% block content %}
<div class="title">
    <h1>{{ meeting_room.name }}</h1>
    <h2>{{ office.name }}, Floor: {{floor.floor_num}}</h2>
    <p>
        If you spot an issue in this room, report it by filling out the report section on the page.
        You can click <a href="/qr/{{ meeting_room.id }}">here</a> to generate a QR code for this room.</p>
</div>

<div class="issues-container">
    <div id="report">
        {% if errors %}
            <div class="errors">
                {% for error in errors %}
                    <p>{{ error }}</p>
                {% endfor %}
        {% endif %}
        <form id="report-form">
            <input type="text" id="issue" name="issue" placeholder="I think the camera is on fire? The fire alarm has gone off!" required>
            <input type="email" id="email" name="email" placeholder="Email" required=>
            <button type="submit">Submit</button>
        </form>
    </div>
    <hr>
    <div class="view-selector">
        <button id="open-issues"
            hx-get="/issues/{{meeting_room.id}}?resolved=0"
            hx-trigger="click"
            hx-target="#issue-list"
            hx-swap="innerHTML">Open Issues</button>
        <button id="closed-issues"
            hx-get="/issues/{{meeting_room.id}}?resolved=1"
            hx-trigger="click"
            hx-target="#issue-list"
            hx-swap="innerHTML">Closed Issues</button>
    </div>
    <div id="issue-list">
        {% include "issues.html" %}
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
