{% extends "base.html" %}
{% block title %}1984 | {{ office.name }}{% endblock %}
{% block content %}

<h1>{{ office.name }} Meeting Rooms</h1>
<div>
    {% for office_floor in office.get_floors() %}
        <div>
            <h2>Floor: {{office_floor.floor_num}}</h2>
            <div>
                {% for meeting_room in office_floor.get_meeting_rooms() %}
                    <a href="/meetingroom/{{meeting_room.id}}">{{ meeting_room.name }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

